<div class="card" style="margin-top: 1rem;">
  <h2 class="card-header card-title">
    Forgot your password?
  </h2>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%=
          f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: "email@example.com"
        %>
      </div>

      <div class="actions">
        <%= f.submit "Reset password", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
